<html>
  <head>
    <title>Doko Online Store</title>  
    <link rel="stylesheet" href="public/css/index.css">
  </head>
  <body>
    {{>navbar}}
  
  <section class="products">
    {{#each this}}
        <div class="product-card">
          <a href="products/{{this.id}}">     
          <div class="product-image">
        <img src="{{this.image}}">
      </div>
      <div class="product-info">
        <h5>{{this.title}}</h5>
        <h6>${{this.price}}</h6>
      </div>
    </div>
    </a> 
    {{/each}}
  </section>
</body>
</html>